.pulseUpOut {
  animation-name: pulseUpOut;
  animation-duration: 2s;
}

@keyframes pulseUpOut {
  0% { transform: scale(-0.5); transform: scaleX(0);  }
  50% { transform: scale(0.5);  }  
  100% { transform: translateY(0) scale(1); transform: scaleX(1); }
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.slideIn {
  animation: SlideIn 1.5s forwards;
}

@keyframes SlideIn {
  0% {
    background-color: var(--orange);
    transform: translateX(-500px);
  }
  60% {
    background-color: var(--orange);
  }
  100% {
    background-color: initial;
    transform: translateX(0);
  }
}