.card {
  font-size: 12px;
  padding: 7px;
  border-radius: 0;  
  border: 1px solid #e4e4e4;
  transition: box-shadow .2s ease-in-out;
}

.card:hover {
  /* box-shadow: 0 0 15px #7c7c7c; */
  box-shadow: 0 0 10px #c0c0c0;
}


.card .img-header {
  max-height: 85px;
  width: 100%;
  object-fit: cover;
  animation-name: imgScale;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.card-body {
  width: 100%;
  padding: .5em 0 0;
  display: flex;
}

.card-details { margin-left: 7px; width: 77%; flex: 1;}

.card-body h5 {
  font-size: 12px;
  color: #007bff;
  font-weight: 400;
}

.card-body p {
  font-size: 12px;
}

.card-body img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;  
}

.card-footer {
  padding: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.img-flip {
  position: relative;
}

.img-flip>div {
  font-size: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.img-flip:hover>div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.767);
  z-index: 999;
}


.active-card {background-color: #243a45; color: #eeeeee;}
.active-card h5 {color: #ffffff !important;}
.active-card img {border: 2px solid #ffffff;}

@keyframes imgScale {
  0% {
    transform: scale(0,0);
  }

  100% {
    transform: scale(1,1);
  }
}