.list-genres {
  width: 100%;
  background-color: #222326;
  box-shadow: 0 0 10px #000000;
  overflow: auto;
}

.list-genres ul {
  width: 100%;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

.list-genres li:first-child { border-left: 1px solid #161616 !important;}

.list-genres .list-group-item.active,
.list-genres li {
  width: 100%;
  text-align: center;
  background-color: inherit;
  border-right: 1px solid #161616 !important;
  border: transparent;
  border-radius: 0;
  font-weight: 600;
}

.list-genres .list-group-item.active { background-color: #FF9800; }

.list-genres li:hover {
  background-color: #121314;
}