.card-inline {
  position: relative;
  padding-bottom: 0 !important;
  justify-content: space-between;
}

.card-btn-add-fav {
  position: absolute;
  right: 0;
  top: 0;
}

.card-inline a {
  font-size: 14px;
  color: #FF9800;
  font-weight: 400;
}

.card-inline .card-footer {
  background-color: inherit !important;
  color: #dbdbdb !important;
}