.player {
  width: 340px;  
  color: #ffffff;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  background-color: #1b2e38f3 ;
  border:10px solid #121e25;
  z-index: 9999;
}

.btn-hide-player {
  position: absolute;
  right: 0;
  top:0;
  background-color: inherit !important;
  border: 0;
  color: #6b6b6b !important;
}

.btn-hide-player:hover {
  color: #ffffff !important;
}

.player img {
  max-width: 85px;
  max-height: 85px;
  object-fit: cover;
}


/* Controls */
.player .controls {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  background-color: #294150;
  border-top:4px solid #121e25;
  border-bottom:4px solid #121e25;
}

.player .controls li {
  font-size: 16px;
  padding: 3px 10px;
  color: #e7e7e7;
  border: 0;
}

.player .controls li:hover {
  color: #ffffff !important;
}

/* wave image url */
.wave_url {
  width: 100% !important;
  height: 55px !important;
  position: relative;
}

.wave_url>div {
  width: 0;
  height: 100%;
  background-color: #007bff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.wave_url img {width: 100% !important; max-width: 100% !important; height: 100%; z-index: 1;}

/* list favorite tracks */
.list-traks-fav {
  max-height: 260px;
  border-top:4px solid #121e25;
  overflow: auto;
}

.list-traks-fav .list-group-item {
  font-size: 12px !important;
  background-color: inherit;
  padding: 0 10px 0 0 !important;
  border-bottom:1px solid #121e25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.list-traks-fav .list-group-item:hover {
  background-color: rgba(0, 52, 80, 0.514);
}

.list-traks-fav .list-group-item h6 {font-size: 12px !important; font-weight: 100;}

.list-traks-fav img {
  max-width: 50px !important;
  max-height: 50px !important;
  border-radius: 0% !important;
  border: 0;
  object-fit: cover;
}

.list-traks-fav h6 {
  font-size: 16px !important;
  width: 180px !important;
  color: #ececec;
  font-weight: 400;
}

.active-track {
  background-color: #121e25 !important;
}

/* headphones */

.headphones {
  width: 50px;
  height: 50px;
  font-size: 35px;
  border-radius: 50%;
  background-color: #3a97f5;
  border: 4px solid #ffffff4d;
  color: #ffffff;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 5px #272727;
}

.headphones:hover {
  background-color: rgb(85, 85, 85);
  animation: spin 1s linear;
}

audio {
  position: absolute;
  top: 0;
  height: 250px;
}