.skeleton-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-skeleton {
  background-color: #222326;
  border: 1px solid #000000;
  padding: 15px;
  flex: 0 0 23%;
}

.picture {
  height: 70px;
  width: 70px;
  margin-bottom: 10px !important;
}

.comment {
  height: 15px;
  background: #FF9800;
  margin-top: 10px;
}

.wrapper {
  width: 0;
  animation: fullView 0.5s forwards linear;
}

.animate {
  animation: shimmer 2s infinite;
  background: linear-gradient(to right, #2b2c2c 4%, #333333 25%, #2b2c2c 36%);
  background-size: 1000px 100%;
}

@keyframes fullView {
  100% {
    width: 100%;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

@media screen and (max-width: 900px) {
  .card-skeleton {
    width: 49%;
  }
}

@media screen and (max-width: 600px) {
  .skeleton-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-skeleton {
    width: 100%;
  }
}