body, .navbar {
  background-color: rgb(30, 31, 32) !important;
  color: #ffffff !important;
}

.navbar {border-bottom: 1px solid #38383a; padding: 10px 0;}

.navbar-brand {
  color: #E91E63 !important;
  font-family: 'Sriracha';
}

.spinner-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.562);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border { width: 7rem; height: 7rem;}

footer {
  width: 100%;
  border-top: 1px solid #38383a;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}