body {  
  background-color: rgb(245, 245, 245);
  overflow-x: hidden;
}

.navbar {
  background-color: #38383a !important;
  background: linear-gradient(to right bottom, rgb(32, 60, 74), rgb(52, 60, 64) 50%, rgb(1, 52, 78) 100%);
  border-bottom: 4px solid #16a2ea;
  padding: 10px 0;
}

.navbar-brand {
  color: #16a2ea !important;
  font-family: 'Sriracha';
}

input[type="search"] {border-radius: 0 !important;}

.text-muted {color: #dbdbdb !important;}

.form-inline {position: relative;}
.form-inline input {min-width: 300px; height: 30px;}
.form-inline button {color: #16a2ea; background-color: inherit; height: 30px; border: 0; line-height: 1;
   position: absolute; right: 2px; outline: none !important;}

.spinner-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.712);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-border {
  width: 7rem;
  height: 7rem;
}

footer {
  width: 100%;
  background-color: #38383a !important;
  background: linear-gradient(to right bottom, rgb(32, 60, 74), rgb(52, 60, 64) 50%, rgb(1, 52, 78) 100%);
  border-top: 1px solid #38383a;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.btn {border-radius: 0;}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #121e25;
}

::-webkit-scrollbar-thumb {
  background: #1b2e38ee;
}

::-webkit-scrollbar-thumb:hover {
  background: #16a2ea;
}

.btn-dark, .bg-dark {background-color: #243a45 !important;}

.color-rose {
  color: #E91E63 !important;
}

.w-90 {
  width: 90% !important;
}

.w-10 {
  width: 10% !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-10 {
  font-size: 10px !important;
}

.cp {
  cursor: pointer;
}

.lsp2 {letter-spacing: 2px;}